

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    list-style: none;
    text-decoration: none;
}



/* 簡單來說，align-items 用於單行的 Flex 容器，控制所有 Flex 元素的對齊方式，而 align-content 用於多行的 Flex 容器，控制多行 Flex 元素之間的對齊方式。如果只有一行 Flex 元素，通常只使用 align-items 就足夠。 */
header{
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 上下左右 */
    padding: 20px 10%;

    
}

header.sticky{
    background-color:  whitesmoke;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    
}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a{
    color: #2c2c2c;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    /* 經典配位 */
    padding: 10px 20px;
    transition: all 0.5s ease;
}
.navmenu a:hover {
    color: aqua;
}
.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-top: 5px;
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.5s ease;

}
/* transform: scale(1, 1); 是 CSS transform 属性的一种设置，用于缩放元素。具体来说，这个设置表示在水平和垂直方向上都应用了 1 倍的缩放，即不进行缩放。 */
.nav-icon i:hover {
    transform: scale(1,1);
    color: aqua;
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 5% 10%;
    position: relative;
}

.main-home {
    width: 100%;
    height: 100vh;
    background-image: url(image/banner-3.png);
    background-position: center;
    background-color: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5 {
    color:  #EE1C47;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}

.main-text h1 {
    color: #000;
    font-size: 64px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 6px 0 50px;
    white-space: nowrap;
  text-overflow: initial;
}

.main-text p {
    color: #333c56;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 20px;
}
/* inline元素的确会忽略上下边距（margin），它们会紧密相邻，不会在垂直方向上留出空白。这是因为inline元素被视为内联元素，类似于文本，它们在同一行内显示，并且不会独占一行的空间。 
 如果你想要上下边距生效，你可以考虑使用display: inline-block;或者display: inline-flex;。这样可以使元素保持inline的特性，同时允许上下边距的应用。 */
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.main-btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 1s ease;
}
.main-btn i {
    /* 它可以指定元素相对于其父元素或基线的垂直对齐方式。須配合display:inline-block or inline */
    vertical-align: middle;
}

.down-arrow {
    position: absolute;
    /* 趴數是包含padding的 */
    top: 85%;
    right: 11%;
}
.down a {
    scroll-behavior: smooth;
    transition: all .5s;
}
.down i {
    font-size: 30px;
    color: #000;
    border: 2px solid #222;
    border-radius: 50px;
    padding: 12px;
}

.down i:hover {
    background-color: #000;
    color: whitesmoke;
}

header.sticky {
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* trending-section-css */

.center-text h2 {
    color: #111;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span {
    color: #EE1C47;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .40s;
}
.row img {
    width: 100%;
    height: auto;
    transition: all .8s;
}

.row img:hover {
    transform: scale(0.9,0.9);
}

.product-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 8px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover {
    transform: scale(1.1);
    color:#EE1C47;
}

.ratting i{
    color: #FF8C00;
}
.price h4 {
    color: #111;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}

.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

.client-reviews {
    background-color: #F3F4F6;
}

.reviews {
    text-align: center;
}

.reviews h3 {
    color: #111;
    font-size: 1.5rem;
    text-transform: capitalize;
    /* text-align: center; */
    font-weight: 700;
}

.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}

.reviews p {
    color: #707070;
    width:50%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.reviews h2 {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}

/* update-section-css */
.up-center-text h2 {
    text-align: center;
    color: #111;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}

.cart h5,
.cart img,
.cart h4,
.cart p,
.cart h6{
    /* width: 380px; */
    width: 100%;
    padding: 0 10%;
    height: auto;
    border-radius: 5px;
}

.update-cart {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,auto));
    gap: 1.5rem;
    justify-content: center;
}

.cart h5 {
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4 {
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.cart p {
    color:#707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

.cart h6 {
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}

.contact {
    background-color: #F3F4F6;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}

.first-info img{
    width: 140px;
    height: auto;
}


.contact-info h4 {
    color: #212529;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.contact-info p {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover {
    color: aqua;
}

.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .5s;
}

.social-icon i:hover {
    transform: scale(1.5);
}

.end-text {
    background-color: #edfff1;
    text-align: center;
    padding: 20px;

}
.end-text p{
    color: #111;
    text-transform: capitalize;
}

/* Response-css */

@media (max-width:890px){
    header{
        padding: 20px 10%;
        transition: .4s;
    }

@media (max-width:630px){
    .main-text h1 {
        font-size: 50px;
        transition: .4s;
    }
    .main-text p {
        font-size: 18px;
        transition: .4s;
    }
    .main-text btn {
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    

    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background-color: wheat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 102px 30px;
        transition: all 0.5s;
    }
    .navmenu a{
        display: inline-block;
        /* margin-bottom: 30px; */
        margin: 18px 0;
    }

    .navmenu.open{
        right: 0;
    }

    
    #menu-icon{
        display: inline;
    }
}
}